.social-icon-circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: white;
    margin-right: 5px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .social-icon {
    width: 35px;
    height: 35px;
  }
  